* {
 box-sizing: border-box;
}

button {
    color: whitesmoke;
    background: red;
    display: inline-block;
    border-radius: 4px;
    margin: 1px;
}

#addButton {
    margin: 40px;
}

#submitButton {
    color: white;
    background: blue;
    border-radius: 4px;
}

button:hover {
    background-color: black;
}

#newSuperhero {
    color: black;
    background: white;
    display: inline-block;
    border-radius: 4px;
}

#gifsSuperheroes {
    height: 200px;
    width: 200px;
}

form {
    float: left;
    margin: auto;
    margin: left 200px;
}